In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"data\india-districts-census-2011.csv")

In [6]:
cols = [
    "District code",
    "State name",
    "District name",
    "Population",
    "Male",
    "Female",
    "Literate",
    "Male_Literate",
    "Female_Literate",
    "Hindus",
    "Muslims",
    "Christians",
    "Sikhs",
    "Buddhists",
    "Jains",
    "Others_Religions",
    "Religion_Not_Stated",
    "Households",
    "Below_Primary_Education",
    "Primary_Education",
    "Middle_Education",
    "Secondary_Education",
    "Higher_Education",
    "Graduate_Education",
    "Other_Education",
    "Literate_Education",
    "Illiterate_Education",
    "Total_Education",
    "Age_Group_0_29",
    "Age_Group_30_49",
    "Age_Group_50",
    "Age not stated",
    "Total_Power_Parity",
]

In [8]:
df = df[cols]

In [9]:
df.head()

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,Hindus,...,Graduate_Education,Other_Education,Literate_Education,Illiterate_Education,Total_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50,Age not stated,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,282823,156831,37128,...,21751,6402,405015,289765,694780,600759,178435,89679,1481,1119
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,207741,127908,10110,...,27950,6857,374972,342646,717618,503223,160933,88978,611,1066
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,62834,30936,22882,...,6197,575,75493,32637,108130,70703,41515,21019,250,242
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,56301,29935,10341,...,3077,408,82938,39854,122792,87532,35561,17488,221,214
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,163333,98391,32604,...,13962,1884,288430,164044,452474,304979,109818,61334,704,629

In [11]:
df1 = pd.read_csv(r'data\district wise centroids.csv')
df1.head()

                 State         District   Latitude  Longitude
0  Andaman and Nicobar  Andaman Islands  12.382571  92.822911
1  Andaman and Nicobar  Nicobar Islands   7.835291  93.511601
2       Andhra Pradesh         Adilabad  19.284514  78.813212
3       Andhra Pradesh        Anantapur  14.312066  77.460158
4       Andhra Pradesh         Chittoor  13.331093  78.927639

In [13]:
# merge both
final_df = df1.merge(df, left_on = 'District', right_on="District name")

In [15]:
final_df.drop(columns = ['State name', 'District name'], inplace = True)

In [24]:
final_df.rename(columns=lambda col: ' '.join(word.title() for word in col.split('_')), inplace=True)

In [25]:
final_df.columns

Index(['State', 'District', 'Latitude', 'Longitude', 'District Code',
       'Population', 'Male', 'Female', 'Literate', 'Male Literate',
       'Female Literate', 'Hindus', 'Muslims', 'Christians', 'Sikhs',
       'Buddhists', 'Jains', 'Others Religions', 'Religion Not Stated',
       'Households', 'Below Primary Education', 'Primary Education',
       'Middle Education', 'Secondary Education', 'Higher Education',
       'Graduate Education', 'Other Education', 'Literate Education',
       'Illiterate Education', 'Total Education', 'Age Group 0 29',
       'Age Group 30 49', 'Age Group 50', 'Age Not Stated',
       'Total Power Parity'],
      dtype='object')

In [26]:
final_df.to_csv('indiaDetailed.csv', index=False)

In [27]:
final_df.head()

,State,District,Latitude,Longitude,District Code,Population,Male,Female,Literate,Male Literate,...,Graduate Education,Other Education,Literate Education,Illiterate Education,Total Education,Age Group 0 29,Age Group 30 49,Age Group 50,Age Not Stated,Total Power Parity
0,Andhra Pradesh,Adilabad,19.284514,78.813212,532,2741239,1369597,1371642,1483347,856350,...,100226,19277,1346992,1030640,2377632,1536378,704551,422522,77788,4181
1,Andhra Pradesh,Anantapur,14.312066,77.460158,553,4081148,2064495,2016653,2310960,1338474,...,144915,23341,2426929,1369069,3795998,2189396,1104565,739612,47575,5799
2,Andhra Pradesh,Chittoor,13.331093,78.927639,554,4174064,2090204,2083860,2667878,1484794,...,246409,36017,3062955,1170993,4233948,2148179,1159053,807430,59402,5926
3,Andhra Pradesh,East Godavari,16.782718,82.243207,545,5154296,2569688,2584608,3288577,1716933,...,263023,47702,3518619,1524603,5043222,2724328,1478954,948122,2892,7211
4,Andhra Pradesh,Guntur,15.884926,80.586576,548,4887813,2440521,2447292,2960441,1634726,...,221924,30279,3209266,1474349,4683615,2583462,1371811,928462,4078,6981

In [31]:
cols = list(final_df.columns)
cols.insert(0, 'Overall India')

In [34]:
final_df['Population'].sum()

np.int64(1020091931)

In [38]:
final_df[final_df['State'] == 'Bihar']['Population'].sum()

np.int64(105473507)

In [45]:
# sex ratio
((final_df['Female'] / final_df['Male']) * 100).mean().astype(int)

np.int64(94)

In [53]:
final_df['Sex Ratio'] = ((final_df['Female'] / final_df['Male'])*100).astype(int)

In [55]:
final_df['Sex Ratio']

0      100
1       97
2       99
3      100
4      100
      ...
512     94
513     95
514     94
515     95
516     93
Name: Sex Ratio, Length: 517, dtype: int64

In [56]:
final_df['Literacy Rate'] = ((final_df['Literate'] / final_df['Population']) * 100).astype(int)

In [57]:
final_df.to_csv('indiaDetailed.csv', index=False)

In [58]:
final_df.columns

Index(['State', 'District', 'Latitude', 'Longitude', 'District Code',
       'Population', 'Male', 'Female', 'Literate', 'Male Literate',
       'Female Literate', 'Hindus', 'Muslims', 'Christians', 'Sikhs',
       'Buddhists', 'Jains', 'Others Religions', 'Religion Not Stated',
       'Households', 'Below Primary Education', 'Primary Education',
       'Middle Education', 'Secondary Education', 'Higher Education',
       'Graduate Education', 'Other Education', 'Literate Education',
       'Illiterate Education', 'Total Education', 'Age Group 0 29',
       'Age Group 30 49', 'Age Group 50', 'Age Not Stated',
       'Total Power Parity', 'Sex Ratio', 'Literacy Rate'],
      dtype='object')

In [60]:
final_df[final_df['State'] == 'Bihar']['Literacy Rate'].mean()

np.float64(50.054054054054056)

In [61]:
import millify
millify.millify(123456789)

'123M'