In [1]:
import pandas as pd

In [2]:
lat_lon = pd.read_csv('data/district wise centroids.csv')

In [3]:
lat_lon.shape

(594, 4)

In [4]:
lat_lon.isnull().sum()

State        0
District     0
Latitude     0
Longitude    0
dtype: int64

In [5]:
lat_lon.duplicated().sum()

np.int64(0)

In [6]:
census = pd.read_csv('data/india-districts-census-2011.csv')

In [7]:
census.shape

(640, 118)

In [8]:
cols = ['District code', 'District name', 'Population', 'Male', 'Female', 'Literate', 'Households_with_Internet', 'Housholds_with_Electric_Lighting']

In [9]:
census = census[cols]

In [10]:
final_df = lat_lon.merge(census, left_on = 'District', right_on='District name').drop(columns = 'District name')

In [11]:
final_df

,State,District,Latitude,Longitude,District code,Population,Male,Female,Literate,Households_with_Internet,Housholds_with_Electric_Lighting
0,Andhra Pradesh,Adilabad,19.284514,78.813212,532,2741239,1369597,1371642,1483347,5512,566108
1,Andhra Pradesh,Anantapur,14.312066,77.460158,553,4081148,2064495,2016653,2310960,8606,897970
2,Andhra Pradesh,Chittoor,13.331093,78.927639,554,4174064,2090204,2083860,2667878,13763,944555
3,Andhra Pradesh,East Godavari,16.782718,82.243207,545,5154296,2569688,2584608,3288577,22411,1297273
4,Andhra Pradesh,Guntur,15.884926,80.586576,548,4887813,2440521,2447292,2960441,19383,1186028
...,...,...,...,...,...,...,...,...,...,...,...
512,West Bengal,Maldah,25.080268,88.171917,332,3988845,2051541,1937304,2086432,5357,297716
513,West Bengal,Murshidabad,24.259507,88.168169,333,7103807,3627564,3476243,4055834,7951,541169
514,West Bengal,Nadia,23.564110,88.582930,336,5167600,2653768,2513832,3480555,12787,623729
515,West Bengal,Puruliya,23.254192,86.396853,340,2930115,1496996,1433119,1624905,3551,189889
516,West Bengal,Uttar Dinajpur,26.044619,88.235952,330,3007134,1551066,1456068,1489667,2883,199307

In [12]:
final_df['sex_ratio'] = ((final_df['Female'] / final_df['Male']) * 100).astype(int)
final_df['literacy_rate'] = ((final_df['Literate'] / final_df['Population']) * 100).astype(int)

In [13]:
final_df.head()

,State,District,Latitude,Longitude,District code,Population,Male,Female,Literate,Households_with_Internet,Housholds_with_Electric_Lighting,sex_ratio,literacy_rate
0,Andhra Pradesh,Adilabad,19.284514,78.813212,532,2741239,1369597,1371642,1483347,5512,566108,100,54
1,Andhra Pradesh,Anantapur,14.312066,77.460158,553,4081148,2064495,2016653,2310960,8606,897970,97,56
2,Andhra Pradesh,Chittoor,13.331093,78.927639,554,4174064,2090204,2083860,2667878,13763,944555,99,63
3,Andhra Pradesh,East Godavari,16.782718,82.243207,545,5154296,2569688,2584608,3288577,22411,1297273,100,63
4,Andhra Pradesh,Guntur,15.884926,80.586576,548,4887813,2440521,2447292,2960441,19383,1186028,100,60

In [14]:
final_df.drop(columns= ['Male', 'Female', 'Literate'], inplace=True)

In [15]:
final_df.head()

,State,District,Latitude,Longitude,District code,Population,Households_with_Internet,Housholds_with_Electric_Lighting,sex_ratio,literacy_rate
0,Andhra Pradesh,Adilabad,19.284514,78.813212,532,2741239,5512,566108,100,54
1,Andhra Pradesh,Anantapur,14.312066,77.460158,553,4081148,8606,897970,97,56
2,Andhra Pradesh,Chittoor,13.331093,78.927639,554,4174064,13763,944555,99,63
3,Andhra Pradesh,East Godavari,16.782718,82.243207,545,5154296,22411,1297273,100,63
4,Andhra Pradesh,Guntur,15.884926,80.586576,548,4887813,19383,1186028,100,60

In [16]:
final_df.to_csv('india.csv', index=False)

In [17]:
lists = list(final_df['State'].unique())
lists.insert(0, 'Overall India')

In [18]:
lists

['Overall India',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Daman and Diu',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Orissa',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Tripura',
 'Uttar Pradesh',
 'Uttaranchal',
 'West Bengal']

In [19]:
cols = list(final_df.columns[5:])
cols

['Population',
 'Households_with_Internet',
 'Housholds_with_Electric_Lighting',
 'sex_ratio',
 'literacy_rate']

In [20]:
final_df.columns

Index(['State', 'District', 'Latitude', 'Longitude', 'District code',
       'Population', 'Households_with_Internet',
       'Housholds_with_Electric_Lighting', 'sex_ratio', 'literacy_rate'],
      dtype='object')

In [23]:
final_df.rename(columns = {
    'Housholds_with_Electric_Lighting' : 'Housholds with Electric Lighting', 
    'Households_with_Internet' : 'Households with Internet',
    'literacy_rate' : 'Literacy Rate',
    'sex_ratio' : 'Sex Ratio'
    }, inplace=True)